@import url('https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Shadows+Into+Light');

.contactiner{
  margin: 1vw 5vw 5vw 5vw;
  /* background-color: #2196F3; */

}

.contactiner div{
  display: block;
  float: left;
  margin-left: 8vw;
  width: 20vw;

}

img{
  width:21vw;
  height:auto;
  display:block;
  float: left;

}

.button{
  font-family: 'Josefin Sans', sans-serif;
  float: right;
  font-size: 28px;
}
h5{
  font-size: 15px;
  color: black;
  font-weight: 400;
  margin: 0;
  line-height: 22px;
}
a{
  text-decoration: none;
  color: #F86FB4;
}
