@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,700|Open+Sans:300,400,700|PT+Sans|Roboto+Condensed:300,400|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif:300,300i,400,400i,700i&display=swap');


.contactiner{
  margin: 1vw 40px 3vw 40px;
  /* background-color: #2196F3; */
  width: 100vw;
  height:100%;
  display: block;
  overflow:hidden;
}


.contactiner div{
  float: left;
  height:auto;
  display: block;
  margin-left: 5vw;

}

img{
  width:24vw;
  height:auto;

}

.resource{
  font-family: 'Inria Serif', serif;
  float: right;
  font-size: 28px;
  margin:0;
  width:15vw;

  line-height: 28px;
  border-bottom: 1px solid white;

}
.resource p:hover{
  border-bottom: 1px solid #9b45e4;
}

.my_photo{
  width:24vw;
  height:40vw;
  display:block;
  float: left;
}
.introduction{
  width: 26vw;
}
.resource div{
  margin:0;
}
h5{
  font-family: 'Lato', sans-serif;

  font-size: 16px;
  color: #454545;
  font-weight: 400;
  margin: 0;
  line-height: 28px;
  text-align: left;
}
a{
  text-decoration: none;
  color: #9b45e4;
}

.contactiner p{
  font-size: 18px;
}
.footer h5{
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-weight: 400;

}

.footer
{
  padding-top: 45px;
  padding-bottom: 0px;
  width: 100vw;
  height: 60px;
  /* background-color: red; */
  text-align: center;
  color: gray;
  display: block;
}
