@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,700|Open+Sans:300,400,700|PT+Sans|Roboto+Condensed:300,400|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif:300,300i,400,400i,700i&display=swap');
/* @keyframes name-rotate {
    0%   {transform: rotate(60deg);}
    25%  {
          transform: rotate(-45deg);}
    50%  {
          transform: rotate(30deg);}
    75%  {
          transform: rotate(-15deg);}
    100% {
          transform: rotate(0deg);}
} */


body{
  margin:0;
  padding: 20px 65px 50px 65px;
}

.bar{
  width: 100%;
  top: 0;
  padding:0 40px;
  box-sizing: border-box;
}

.menu_bar{
  height: 50px;
  margin-bottom: 0px;
}

.logo_bar{
  height: 150px;
  margin-bottom: 30px;
}

.logo{
  display:block;
  width: 100%;
  height: 150px;
  margin: 0 ;
  float: left;
}

.logo a{
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: #e13a9d;
}

.bar a:hover{
  color: #9b45e4;
}

.logo p{
  margin:35px 0 15px 0;
  text-align: center;
}

.menifesto{
  font-family: 'Inria Serif', serif;
  font-size: 18px;
  font-weight: 400;
  color: #666;
  /* font-style: italic; */

}

.bar a{
  text-decoration: none;
}

.button {
  background-color: white; /* Green */
  color: #f9b165;
  padding: 0;
  border: 2px solid white;

  font-family: 'Inria Serif', serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;

  margin: 10px 0 20px -3px;
  padding: 3px 0px;

  outline:none;

  /* border-radius:5px; */

}


.button_container{
  width:100%;
  text-align: center;
}


.menu {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  display: block;
  float: right;
  font-weight: 400;
  color: #e13a9d;

  margin: 0 0 0 20px ;
}



.grid-container {
  margin:0;
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 0,20px,0,0; */
}
.grid-container img{
  width:25vw;
  height:auto;
  left:0;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 0 5px;

  font-family: 'Inria Serif', serif;
  font-size: 24px;
  font-weight: 400;
  color: #454545;
  text-align: center;

}

.create{
  display:block;
}
.design{
  display: block;
}

.type{
  font-size: 16px;
  color: #666;
font-weight: 300;
margin: -16px 0 18px 0;
}

.date{
  font-size: 14px;
  color: #999;
font-weight: 400;
margin: 0 0 30px 0;
}


.footer h4{
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  font-size:14px;

}

.footer
{
  padding-top: 45px;
  padding-bottom: 0px;
  width: 100%;
  height: 60px;
  /* background-color: red; */
  text-align: center;
  color: gray;
}

.tag_bar{
  padding: 0 20px;

}
.tag{
  display: inline-block;
  padding: 0px 20px 20px 20px;
}

.tag a{
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.active
{
  font-weight: 900;
}

.active a{
  font-weight: 900;
}
