@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Shadows+Into+Light');
@keyframes name-rotate {
    0%   {transform: rotate(60deg);}
    25%  {
          transform: rotate(-45deg);}
    50%  {
          transform: rotate(30deg);}
    75%  {
          transform: rotate(-15deg);}
    100% {
          transform: rotate(0deg);}
}



.banner{
  width: 100%;
  height: 130px;
  background-color: white;
  border-bottom: 1px solid #F86FB4;
  position: fixed;
  top: 0;
}
.logo{
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 30px;
  float:left;

}
.banner a{
  text-decoration: none;
  color: #F86FB4;
  transition: color 0.6s;

}
.title-container{
  width: auto;
  height: 130px;
  display:inline-block;
  float:left;
  margin-left: 35vw;
  text-align: center;
  transition: transform 0.5s;
}
.title-container:hover{
    animation-name: name-rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;



}
.title{
  font-family: 'Shadows Into Light', cursive;
  font-weight:500;
  font-size: 36px;
  margin: 40px auto 40px auto;
  text-align: center;
  color: #222;

}

.menu{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  width:auto;
  height: auto;
  display: inline-block;
  float: right;
  margin: 40px;
}
.menu div{
  display: inline-block;
  float: left;
  margin:20px;
}

.active a{
  color: #F84FB4;
  font-weight: bold;
}

.menu div:hover a{
    color: #F8E71C;
;
}
