@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,700|Open+Sans:300,400,700|PT+Sans|Roboto+Condensed:300,400|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif:300,300i,400,400i,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');



body{
  margin: 50px 18vw 50px 18vw;
}

h1{
  text-align: center;
  font-family: 'Inria Serif', serif;
  color:#525252;
  font-weight:700;
  font-size:40px;
  font-style: italic;
}
h2,h3,h4{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 400;
  color: #5a5a5a;

}
h2{
  font-size: 24px;
  margin-top:40px;
}

h3{
  font-size: 22px;
}



h5{
  text-align: center;
  font-family: 'Inria Serif', serif;
  font-weight: 400;
  font-size: 18px;
  color:#929292;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;

  line-height: 28px;

  color: #666;
  /* text-indent: 40px; */

  /* text-indent:2em; */

}

img{
  width: 64vw;
  height: auto;
}

.back{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 5px solid #e13a9d;
  background-color: white;
  /* background-image: url("../image/back.png"); */
  position: fixed;
  right: 8vw;
  top:40px;

  transition: background-color 0.5s;
}

.back img{
  width:28px;
}

.back:hover{
  background-color: #e13a9d;
}

.footer
{
  padding-top: 45px;
  padding-bottom: 0px;
  width: 64vw;
  height: 60px;
  /* background-color: red; */
  text-align: center;
  color: gray;
}

.footer h4{
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  font-size:14px;

}
