@import url('https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Shadows+Into+Light');


body{
  margin: 50px 15vw 50px 10vw;
}

h1{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}
h2,h3,h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;

}

h5{
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-weight: 400;

}

p{
  font-family: 'Avenir', sans-serif;
  /* text-indent:2em; */

}

img{
  width: 75vw;
  height: auto;
}

.back{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 5px solid #F86FB4;
  background-color: white;

  position: fixed;
  right: 8vw;
  top:40px;

  transition: background-color 0.5s;
}

.back:hover{
  background-color: #F86FB4;
}
