@import url('https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Shadows+Into+Light');

.works-container{
  font-family: 'Josefin Sans', sans-serif;
  margin: 140px 100px 10px 100px;
  display: grid;
  grid-template-columns: 10vw 10vw auto;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;


}
.works-container a{
  text-decoration: none;
  color: #999;
  transition: color 0.6s;
}

.works-container a:hover{
  color: #333
}


.grid-container {
  margin: 0px 100px 100px 100px;
  display: grid;
  grid-template-columns: 28vw 25vw 25vw;
  grid-gap: 3vw;
  /* background-color: #2196F3; */
  padding: 1vw;
}
.grid-container > div {

  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: left;
  padding: 0.5vw 0;
}
.grid-container h2{
  font-family: 'Josefin Sans', sans-serif;

  margin: 0 0 0 1vw;
}
.grid-container h4{
  font-family: 'Josefin Sans', sans-serif;

  margin: 20px 0 0 15px;
}
.grid-container p{
  font-family: 'Abel', sans-serif;

  margin:0;
  font-size: 14px;

}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.item1 img{
  width:100%;
  height: auto;
}
.active p{
  color:black;
  font-weight: bold;
}
